body{
    background-color: blanchedalmond;
    margin: 0;
}

.top{
    border-bottom: 1px solid grey;
    height: 100px;

}
.second{
    border-bottom: 1px solid grey;
    height: 180px;
}
.third{
    height: 340px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey; 
}
.third1{
    border-right: 1px solid grey;
    width: 40%;
}